// -----------------------------------------------------------------------------
// This file contains all styles related to the drawer of the site/application.
// -----------------------------------------------------------------------------

//mobile first

.drawer.region { 
	transition:width 500ms ease;
	width:0;
	overflow: hidden;
	& .wrapper {
		@include invert;
		min-height:100vh;
		padding: $gutter;
	}
	@include breakpoint(laptop) { 
		width: 300px; 
	}
}

nav.drawer.toggle {
	width:300px;
	@include breakpoint(phone) { 
		width:100vw; 
		position: absolute;
		z-index:50;
	}
	@include breakpoint(laptop) { 
		width: 0; 
	}
}






