// -----------------------------------------------------------------------------
// This file contains all styles related to the drawer of the site/application.
// -----------------------------------------------------------------------------

//mobile first

.drawer {
  transition: transform 500ms ease;
  width: 320px;
  transform: translateX(-320px) rotate(45deg);
  position: fixed;
  z-index: 100;
  padding: $gutter;
  background: $background;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

.drawer.toggle {
  transform: translateX(10px) translateY(15px) rotate(-2.5deg);
  @include breakpoint(phone) {
    width: 100vw;
  }
}

.bar {
  margin: -#{$gutter} -#{$gutter} $gutter;
  padding: 1rem $gutter $gutter;
  display: flex;
  justify-content: space-between;
  background: $highlight;
  color: $background;
}






