// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

footer.region {
  background: $brand;
  color: $tertiary;
  margin: auto 0 0 0;
  padding: $gutter;

  .container {
    margin: auto;
    padding: $gutter 0;
    text-align: center;
  }

  .facebook {
    padding: $gutter;

    svg {
      transform: scale(1);
      width: 20vw;
      max-width: 200px;
    }
  }
}