// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header.region {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $brand;
  width: 100%;

  h1 {
    line-height: 1;
    padding: 0;
    margin: 0 auto;
  }

  & a {
    color: $background;
  }

  button {
    transform: scale(2);
    position: absolute;
    top: 30px;
    right: 20px;
  }
}
