// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------


.card {
  width: 320px;
}

.cards {
  margin: auto;
  padding: 0;
  display: grid;
}