// -----------------------------------------------------------------------------
// This file contains all styles related to the card component.
// -----------------------------------------------------------------------------


.card {
  flex: 1 1 480px;
  display: flex;
  flex-flow: column nowrap;

  .picture {
    min-width: 320px;
  }

  .heading {
    order: 2;
  }
}

.cards {
  margin: auto auto $gutter auto;
  padding: 0;
  display: grid;
  gap: ($gutter*2);
  grid-template-columns: repeat(var(--cols), 1fr);
  list-style: none;
}

//I have written a short query to count how many cards there are and give us a class of "odd" and also the number, so as an advanced challenge, try changing how the last cards display