//forms

input:not(.search), textarea, div[role=search] {
	@include borders;
	background: $lighten;
	padding: $gutter; 
	margin: $gutter;
	width: 100%;
	transform: all 500ms ease-in;
	@include on-event {
    background: $background;
    color: $foreground;
    & .icon {
    	color: $brand;
    }
  }
}

main form {
	background: $secondary;
	color: $tertiary;
	padding: $gutter * 4; 
	margin: $gutter;
	width:auto;
}

fieldset {
	@include null;
	display: flex;
	flex-direction: column;
	}

textarea {
	height:50vh
}

div[role=search] {
	color: $tertiary;
	padding: $gutter / 2;
	display: flex;
	width:auto;
	& input[type=search] {
	@include null;
}

}
