.header {
  &.hero {
    text-align: center;
    display: grid;
    grid-template-areas: "image";
    // break out of container
    width: 100vw;
    margin: -3rem -3rem $gutter*2 -3rem;

    @media (min-width: 60em) {
      margin: -3rem calc(calc(-50vw + 30em) - 2.5rem) 0;
    }
    margin-bottom: $gutter *4;

    .image {
      max-height: 1080px;
      overflow: hidden;
    }

    .heading {
      grid-area: image;
      margin: auto 0 0 -5px;
      background: $brand;
      color: $background;
      padding: ($gutter * 4) $gutter *2;
    }
  }
}