// -----------------------------------------------------------------------------
// This file contains all styles related to display of images
// -----------------------------------------------------------------------------


img {
  width: 100%;
  height: auto;
}

svg {
  width: 100%;
  height: 100%;
  transform: scale(1.5);

  a & {
    color: white;
  }
}

