// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

// box model on root
html {
  box-sizing: border-box;
}

//See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: $background;
  color: $foreground;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

//links
a {
  color: $brand;
  text-decoration: none;
  font-weight: bold;

  @include on-event {
    color: $highlight;
    text-decoration: underline;
  }

  &:focus {
    outline: 3px dotted;
  }
}

// container

.container {
  max-width: 60em;
  margin: auto;
  padding: $gutter;
}

// grid

:root {
  --cols: 1;
  @include breakpoint(phablet) {
    --cols: 2;
  }
  @include breakpoint(laptop) {
    --cols: 3;
  }
}



