// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

// clear inner floats
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}



// screenreader text, descriptive and structural landmarking
.landmark {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.landmark:focus {
  width: auto;
  height: auto;
  margin: auto;
}

// turn off elements at breakpoints 
$breakpoints: (phone, phablet, tablet, laptop, desktop);

@each $point in $breakpoints {
  @include breakpoint($point) {
    .h-not--#{$point} {
      display: none;
    }
  }
}

// faster
@media (max-width: 37.5em) {
  .h-except-phone {
    display: none;
  }
}

@media (max-width: 70em) {
  .h-only-desktop {
    display: none;
  }
}