<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body class="{{.Title | lower }}">
    <div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v5.0"></script>
<a class="landmark" href="#content">skip to main content</a>

        {{ partial "drawer.html" .}}
        <div id="push" class="wrapper">
            
            {{ block "header" .}}
            <header id="site-header" class="region">
                <div class="container">
                    <h1 class="site header">
                        <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}{{ .Site.Params.logo}}" alt="{{ .Site.Title }}" class="has-scroll-state logo" /><span class="landmark">{{ .Site.Title }}</span></a></h1>
                        <button class="icon button" id="openMenu">
                            <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36"><path fill="none" d="M0 0h24v24H0V0z"/><path fill="currentColor" d="M4 18h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zm0-5h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1s.45 1 1 1zM3 7c0 .55.45 1 1 1h16c.55 0 1-.45 1-1s-.45-1-1-1H4c-.55 0-1 .45-1 1z"/></svg>
          
            </div> 
            </header>
            {{ end }} 
          
            <main id="site-main" class="region"> 
            <div class="container">{{ block "main" . }} {{end}}</div> 
            </main>
        </div>
        {{ partialCached "footer.html" . }}

    {{ partial "js.html" . }}
</body>

</html>