

// write a list off the pictures on the gallery

// cut thumbnails of the first three images

// on click of any thumbnail, open a lightbox with a carousel/slider of all the images

// add a close button to close the gallery
<section class="gallery">
<h3 class="heading">NAME Gallery</h3>
<ul class="list">
	<!-- take first three , cut to 250 with fill -->
	<li class="picture item">
		<img src="" alt="" />
	</li>
</ul>
<dialog class="lightbox"> 
	<button class="close button">X <span class="landmark">Close this dialog</span></button> 

	<figure class="figure">
	</figure> 
</dialog>
</section> 