<script>
function toggleMenu() {
    mainMenu.classList.toggle('toggle');
}
let mainMenu = document.querySelector('.drawer');
let openMenu = document.getElementById('openMenu');
let closeMenu = document.getElementById('closeMenu');

openMenu.addEventListener("click", toggleMenu);
openMenu.addEventListener("keyup", toggleMenu);
closeMenu.addEventListener("click", toggleMenu);
closeMenu.addEventListener("keyup", toggleMenu);

// intersection observer
// const callback = function(entries) {
//   entries.forEach(entry => {
//     entry.target.classList.toggle("is-scrolled");
//   });
// };

// const observer = new IntersectionObserver(callback);

// const targets = document.querySelectorAll(".has-scroll-state");
// targets.forEach(function(target) {
//   observer.observe(target);
// });


</script>